body {
  background-color: black;
  font-family: Indie Flower;
}
.container {
  margin: 50px;
  width: auto;
  height: 600px;
  background-color: #666666;
  padding-block: 10px;
  padding-inline: 22px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 24px;
  align-content: center;
}

.yellow {
  background-color: #fcfcca;
  transform: rotate(350deg);
}
.green {
  background-color: #c7f5c8;
  transform: rotate(4deg);
}
.purple {
  background-color: #c9c9f7;
  transform: rotate(355deg);
}

.yellow,
.green,
.purple {
  width: 23%;
  height: 217px;
  text-align: center;
  align-content: center;
  box-shadow: 11px 10px 15px 2px rgba(0, 0, 0, 0.6);
  background-image: linear-gradient(340deg, #100e0e8a, transparent);
}
h2 {
  font-size: 45px;
  font-weight: 700;
}
p {
  font-size: 22px;
}

.yellow:hover {
  transform: scale(1.13) translateX(+3px);
  z-index: 9;
}
.green:hover {
  transform: scale(1.13) translateX(+3px);
  z-index: 9;
}
.purple:hover {
  transform: scale(1.13) translateX(+3px);
  z-index: 9;
}
